<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
          <li>
            <a href="http://kctu1203.blog.me/">
              선본 블로그
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <span class="username">@{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>

<script src="{{ site.url }}/js-lib/jquery-1.11.1.min.js"></script>
<script src="{{ site.url }}/js-lib/jquery.word-break-keep-all.min.js"></script>
<script src="{{ site.url }}/js/script.js"></script>
<!--[if lt IE 9]>
  <script src="{{ site.url }}/js-lib/html5shiv.js"></script>
<![endif]-->