<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:image" content="{{ site.baseurl }}/images/favicon.png"/>
    <link rel="apple-touch-icon-precomposed" href="/images/favicon.png" >
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <!--[if lt IE 9]>
    	<link rel="stylesheet" href="{{ "/css/ie.css" | prepend: site.baseurl }}">
        <script src="{{ site.baseurl }}/js-lib/html5shiv.min.js"></script>
    <![endif]-->    
</head>
