<div class="wrapper">
	<div class="share-icons">
		<a href="http://facebook.com/share.php?u={{site.url | url_param_escape}}{{ page.url | url_param_escape }}" target="_blank">
			{% include iconmonstr-facebook-3-icon.svg %}
		</a>
		<a href="http://twitter.com/share?text={% if page.title %}{{ page.title | url_param_escape }} | {{ site.title | url_param_escape }}{% else %}{{ site.title | url_param_escape }}{% endif %}&url={{site.url | url_param_escape}}{{page.url | url_param_escate}}&via=ddragon2009" target="_blank">
			{% include iconmonstr-twitter-3-icon.svg %}
		</a>
	</div>
</div>