<div class="wrapper">
	<div class="share-icons">
		<a href="http://facebook.com/share.php?u={{site.url | url_encode}}{{ page.url | url_encode }}" target="_blank">
			{% include iconmonstr-facebook-3-icon.svg %}
		</a>
		<a href="http://twitter.com/share?text={% if page.title %}{{ page.title | url_encode }}%20%7C%20{{ site.title | url_encode }}{% else %}{{ site.title | url_encode }}{% endif %}&url={{site.url | url_encode}}{{page.url | url_param_escate}}&via=ddragon2009" target="_blank">
			{% include iconmonstr-twitter-3-icon.svg %}
		</a>
		<a href="#" class="kakaotalk" onclick="return false;">
			{% include kakaotalk.svg %}
		</a>
		<a href="#" class="kakaostory" onclick="return false;">
			{% include kakaostory.svg %}
		</a>
	</div>
</div>