---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">
    	{% if page.sub_top %}
    		<span class="sub-top">{{ page.sub_top }}</span>
    	{% endif %}
    	{{ page.title | replace: ' / ', ' <br> ' }}
    </h1>
    <p class="post-meta">{{ page.date | date: "%F" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
